@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --color-primary: #1e3a8a;
  --color-accent: #2563eb;
  --color-primary-dark: #1e3a8a;
  --color-accent-dark: #3b82f6;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
